$border-colour: #ddd;

.product-details {
    max-width: 300px;
}

.product-details__name {
    text-align: center;
}

.product-details__colour-variant {
    &:empty {
        display: none;
    }
}

.colours {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.colour-option {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: .25rem;
    background-clip: content-box;
    border: 1px solid $border-colour;
    margin: 0.25rem;
}

.colour-option--selected {
    border-color: black;
}

.product-details {
    $outer-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid $border-colour;
    border-radius: $outer-radius;

    &__name,
    &__price {
        margin-bottom: 1rem;
    }
}

.price {
    font-size: 1.5rem;
}

.button {
    appearance: none;
    display: block;
    width: 100%;
    padding: 0.8em;
    border: 0;
    color: white;
    background-color: green;

    &:disabled {
        opacity: 0.5;
    }
}

img {
    max-width: 100%;
}